{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="about-cntr">
        <div class="about-content">
            <div class="about-main">
                <h1>About Us</h1>
                <p>THE COME UP, Undrafted was founded on 2017 thru our love for basketball and hip-hop. What was a dream that started from a simple hobby became a product itself. A humble beginning from The 1600, started thru meet-ups. Opened a pop-up shop every release. From 30 people buying to selling out within an hour. Who would've thought from making simple designs that resonates with other people will build a community.</p>
            </div>
            <img src="{% static 'images/about11.jpg' %}" alt="store">
            <img src="{% static 'images/about12.jpg' %}" alt="store">
        </div>
    </div>
{% endblock content %}